body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color:blanchedalmond;
}

h1{
    font-size:40px;
    color: red;
    border: 2px solid blue;
    margin: 10px;
}

li{
    list-style:none;
}

img{
    border: 2px dotted red;
    margin: 8px;
    padding: 8px;
}